<div class="container">
    <div class="card">
        <div class="card-body">
            <h5>Cadastre seu Cardápio</h5>
            <hr>
            {{>_msg}}
            <form action="/menu/register" method="post">
                <div class="row col-12">
                    <div class="form-group col-12">
                        <select name="class" required id="class" class="form-control">
                            <option value="">Selecione uma Classe</option>
                            {{#each class}}
                            <option value="{{classMenu}}">{{classMenu}}</option>
                            {{/each}}                            
                        </select>
                    </div>
                </div>
                <div class="row col-12">
                    <div class="form-group col-12">
                        <label for="">Produto</label>
                        <input type="text" name="name" maxlength="40" id="name" class="form-control">
                    </div>
                </div>
                <div class="row col-12">
                    <div class="form-group col-12">
                        <label for="">Descrição</label>
                        <textarea name="desc" id="desc" cols="30" rows="1" maxlength="110" style="resize: none;" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row col-12">
                    <div class="form-group col-6">
                        <label for="">Gasto Material</label>
                        <input type="text" maxlength="6" name="costProduce" id="costProduce" class="form-control dinheiro">
                    </div>
                    <div class="form-group col-6">
                        <label for="">Valor Venda</label>
                        <input type="text" maxlength="6" name="value" id="value" class="form-control dinheiro">
                    </div>
                </div>
                <div class="row col-12 mt-2">
                    <div class="form-group col-12">
                        <button class="btn btn-outline-success col-12">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>  
<script>

    jQuery('.dinheiro').mask('#.##0,00', {reverse: true,});
   
</script>