<!--
<div class="container">
    <div class="card" id="tela">
        <div class="card-body">
            <h5>Itens Mais Vendidos</h5>
            <div class="row">
                <div class="form-group col-6">
                    <div class="borda">
                        <ul>
                            <li>
                                <div class="row">
                                    <p>X-Tudo</p>
                                    <div id="graficosUm"></div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <p>X-Bacon</p>
                                    <div id="graficosDois"></div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <p>Coca-Cola</p>
                                    <div id="graficosTres"></div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <p>Pizza Calabresa</p>
                                    <div id="graficosQuatro"></div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <p>mantiqueira</p>
                                    <div id="graficosCinco"></div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <p>Pizza Portuguesa</p>
                                    <div id="graficosSeis" style="width: 60%;"></div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <p>Salgadinho</p>
                                    <div id="graficosSete"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group col-6">
                    <div class="bordaTow">
                        <ul>
                            <li>
                                <div id="grafUm">
                                    Gasto
                                    <div id="grafUmBranco">
                                        <p>50%</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div id="grafDois">
                                    Lucro
                                    <div id="grafDoisBranco">
                                        <p>100%</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div id="grafTres">
                                    Total
                                    <div id="grafTresBranco">
                                        <p>150%</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<canvas id="grafico"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
 <script src="/scripts/grafico.js"></script>
  <script src="/scripts/socket.js"></script>