<div class="container mt-5" style="padding: 0 30%;">
    <div class="card" style="width: 18rem;">
        <img id="qrCode" src="/images/qrCode.png" class="" alt="Qr code">
        <div class="card-body">
            <h5 class="card-title text-center">Qr code</h5>
            <p class="card-text text-center">Qr code Para ter Acesso ao seu Atendente Virtual</p>
            <a href="/" class="btn btn-primary col-12">Voltar Para Aplicação</a>
        </div>
    </div>
</div>
