<div class="modal fade" tabindex="-1" id="MeuModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adicione os dados do Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">  
                        <div class="form-group col-8">
                            <select name="telephone" id="telephone" class="form-control">
                                <option value="">Selecione o Cliente</option>
                                {{#each users}}
                                <option value="{{telephone}}">{{name}} - {{trataTelephone telephone}}</option>
                                {{/each}}
                            </select>
                        </div>
                </div>
                <hr>
                <form action="/caixa/registerUser" method="post">
                    <div class="row mt-3">
                        <input type="hidden" id="idUsuarios" name="id">
                        <div class="form-group col-6">
                            <label for="" class="ml-2">Nome do Cliente</label>
                            <input type="text" id="nomeDoCliente" class="form-control ml-2">
                        </div>
                        <div class="form-group col-6">
                            <label for="" class="ml-2">Numero Telefone do Cliente</label>
                            <input type="text" id="numeroTelefone" class="form-control ml-2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-8">
                            <label for="" class="">Bairro</label>
                            <input type="text" id="neighborhood" class="form-control">
                        </div>
                          <div class="form-group col-4">
                            <label for="" class="">Taxa De Entrega</label>
                            <input type="text" id="taxaEntrega" class="form-control dinheiro" maxlength="6">
                        </div>
                        <div class="form-group col-12">
                            <label for="" class="">Endereço</label>
                            <input type="text" id="addressClient" class="form-control ">
                        </div>
                      
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" id="enviarClient" class="btn btn-primary">Enviar</button>
            </div>
            </form>
        </div>
    </div>
</div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>  
<script>

    jQuery('.dinheiro').mask('#.##0,00', {reverse: true,});
   
</script>