<div class="container">
    <div class="card">
        <div class="card-body">
            <h2>Editar Mensagens</h2>
            <hr>
            <div class="card-body">
                <div class="row mt-3">
                    <div class="form-group col-12">
                        <label for="">Selecione o Estágio da Mensagem</label>
                        <select name="" id="" class="form-control">
                            <option value="">Selecione</option>
                            <option value="">Boas Vindas</option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                        <button class="btn btn-outline-success col-12 mt-3">Pesquisar</button>
                    </div>
                </div>
                <hr>
                <div class="row mt-3">
                    <div class="form-group col-12">
                        <label for="">Edite a Mensagem desejada</label>
                        <textarea name="" id="" cols="20" rows="10" class="form-control"
                            style="max-height: 30%;"></textarea>
                        <button type="reset" class="btn btn-outline-danger col-12 mt-3">Apagar Tudo</button>
                        <button type="submit" class="btn btn-outline-success col-12 mt-3">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>