<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-text">Cadastrar Mensagens</h5>
            <hr>
            {{>_msg}}
            <div class="card-body">
                <form action="/msg/register" method="post">
                    <div class="row mt-3">
                        <div class="form-group col-12">
                            <label for="">Selecione o Estágio da Mensagem</label>
                            <select name="stage" id="stage" class="form-control">
                                <option value="">Selecione</option>
                                <option value="00">00</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                            </select>
                            <label for="message" class="mt-2">Digite a Mensagem</label>
                            <textarea name="message" id="message" cols="20" rows="10" class="form-control"
                                style="max-height: 30%;"></textarea>
                            <button class="btn btn-outline-success col-12 mt-3">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>