<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <form action="/caixa" method="post">
                    <button class="btn btn-outline-success">Montar Pedido</button>
                </form>
            </div>
        </div>
    </div>
</div>